*,
html {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
}

.container-navbar {
    width: 100%;
    height: 10vh;
}

.ul-navbar {
    background-color: grey;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.li-navbar {
    list-style-type: none;
    padding: 20px;
    margin: 5px;
    color: rgb(255, 255, 255);
    font-size: 30px;
}

.li-navbar:hover{
    background-color: rgb(0, 0, 0);
    border-radius: 8px;
}

.a-navbar {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.container-content {
    background-color: black;
    display: border;
    justify-content: center;
    align-items: center;
    height: 90vh;
    overflow: hidden;
}
