*,
html {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
}

.container-navbar {
    width: 100%;
    height: 10vh;
}

.ul-navbar {
    background-color: grey;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.li-navbar {
    list-style-type: none;
    padding: 20px;
    margin: 5px;
    color: rgb(255, 255, 255);
    font-size: 30px;
}

.li-navbar:hover{
    background-color: rgb(0, 0, 0);
    border-radius: 8px;
}

.a-navbar {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

a {
  color: #3498db;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.character-banner {
  width: 100%;
  margin: auto;
  background: #1c1c1c;
  color: #ffffff;
  box-sizing: border-box;
}

.image-row {
  display: flex;
  gap: 12px;
  margin-bottom: 8px;
}

.image-row img {
  width: 49.66%;
  border-radius: 18px;
  object-fit: cover;
}

p + p {
  margin-top: 24px;
}

p {
    font-size: 30;
}

.Pembatas {
  width: 100%;
  height: 1px;
  background-color: #e0e0e0;
  margin: 40px 0;
}

.Fugue {
  color: #ff0000; 
  font-weight: 600;
}

.Lingsha {
  color: #00f804; 
  font-weight: 600;
}

.Aglaea {
  color: #ff0000; 
  font-weight: 600;
}

.Sunday {
  color: #00f804; 
  font-weight: 600;
}

.Yaoguang {
  color: #00f804; 
  font-weight: 600;
}

.Sparxie {
  color: #00f804; 
  font-weight: 600;
}