*,
html {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
}

.container-navbar {
    width: 100%;
    height: 10vh;
}

.ul-navbar {
    background-color: grey;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.li-navbar {
    list-style-type: none;
    padding: 20px;
    margin: 5px;
    color: rgb(255, 255, 255);
    font-size: 30px;
}

.li-navbar:hover{
    background-color: rgb(0, 0, 0);
    border-radius: 8px;
}

.a-navbar {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.character-card {
  width: 100%;
  margin: auto;
  background: #1c1c1c;
  padding: 32px;
  border-radius: 12px;
  color: #fff;
  box-sizing: border-box;
}

.image-text-block {
  margin-bottom: 24px;
}

.image-row {
  display: flex;
  gap: 12px;
  margin-bottom: 8px;
}

.image-row img {
  width: 50%;
  border-radius: 8px;
  object-fit: cover;
}

p + p {
  margin-top: 16px;
}

p {
    font-size: 30;
}